MONGO_URI=mongodb://localhost:27017/
DB_NAME=zeromind_db
JWT_SECRET=change-this-secret
JWT_EXPIRE_DAYS=7
SOCKET_CORS=*

SERVER_HOST=0.0.0.0
SERVER_PORT=9527

GOMOKU_MODEL_FILE=best_policy15.model
GOMOKU_EASY_MODEL_FILE=gomoku15_policy_0500.model
CHECKERS_MODEL_FILE=best_checker_policy.model
CHECKERS_EASY_MODEL_FILE=checker_policy_0500.model
